@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('#{$font-path}/lato-v14-latin-regular.eot');
  src: local('Lato Regular'), local('Lato-Regular'),
  url('#{$font-path}/lato-v14-latin-regular.woff2') format('woff2'),
  url('#{$font-path}/lato-v14-latin-regular.woff') format('woff'),
  url('#{$font-path}/lato-v14-latin-regular.ttf') format('truetype'),
  url('#{$font-path}/lato-v14-latin-regular.svg#Lato') format('svg');
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.boxed {
  max-width: 350px;
}

.right-side {
  float: right;
}

.col-special {
  max-width: $width-col-special;
}

@include media-breakpoint-between(sm, xl) {
  .col-special {
    min-width: $width-col-special;
  }
}

// BS Buttons

$btn-font-size-lg: 15px;
$btn-padding-x-lg: 19px;
$btn-padding-y-lg: 16px;
$btn-border-radius: 2px;

.btn-dark {
  background-color: $body-color;
}

.btn-light {
  border-color: $primary;
  color: $dark;
  font-size: 15px;
  &:hover {
    background-color: $primary;
    color: $white;
  }
}
.btn-secondary {
  font-size: 15px;
}


// Circled buttons

$btn-circle-side2: 50px;
$btn-circle-side: 40px;

.circle {
  width: $btn-circle-side;
  height: $btn-circle-side;
  border-radius: $btn-circle-side;
}

.circle-50 {
  width: $btn-circle-side2;
  height: $btn-circle-side2;
  border-radius: $btn-circle-side2;
}

.btn-rounded-secondary {
  background-color: $white;
  border: 1px solid $white;
  color: $body-color;
  line-height: 1;

  &:hover {
    border: 1px solid $body-color;
    color: $body-color;
    background-color: $white;
  }

  &.active {
    background-color: $body-color;
    color: $white;

    &:hover {
      border: 1px solid $body-color;
      color: $body-color;
      background-color: $white;
    }
  }
}

.btn-rounded-primary {
  background-color: $light;
  color: $body-color;
  border: 1px solid $light;
  font-size: $font-size-base;
  line-height: 1;

  &:hover {
    background-color: $light;
    border: 1px solid $body-color;
    color: $body-color;
  }

  &:active {
    font-size: $small-font-size;
  }

  &__small {
    background-color: $light;
    color: $body-color;
    border-color: $light;
    height: 20px;
    width: 20px;
    font-size: 10px;
    padding: 3px 3px;
  }
}

// Gender radio

.gender-radio {
  .circle {
    border: 1px solid $body-color;
    background-color: $white;
  }

  &__label {
    font-style: normal !important;
  }

  &--icon {
    line-height: 2.2em;
    text-align: center;
    font-size: 18px;
    border: 1px solid $body-color;

    &.icon-female {
      font-size: 23px;
      line-height: 1.7em;
    }
  }

  &__active {
    background-color: $light;
    border: 1px solid $dark;

    .circle {
      background-color: $dark;
    }

    i {
      color: white !important;
    }
  }

  &--form-check {
    padding-left: 0;
    min-width: 80px;
    min-height: 80px;
    margin-right: 17px;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: $light;
      border: 1px solid $dark;
    }
  }
}

// Inputs

input[type="text"], [type="number"] {
  border-color: $bg-secondary !important;
  border-bottom: 1px solid $primary !important;
  color: $body-color;
  height: 44px !important;
  font-size: 15px;

  &.ng-pristine:focus {
    border: 1px solid $primary !important;
    outline: none;
  }

  &.is-invalid {
    border-bottom: 1px solid $danger !important;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg width='1792' height='1792' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath style='fill:red' d='M1024 1375v-190q0-14-9.5-23.5t-22.5-9.5h-192q-13 0-22.5 9.5t-9.5 23.5v190q0 14 9.5 23.5t22.5 9.5h192q13 0 22.5-9.5t9.5-23.5zm-2-374l18-459q0-12-10-19-13-11-24-11h-220q-11 0-24 11-10 7-10 21l17 457q0 10 10 16.5t24 6.5h185q14 0 23.5-6.5t10.5-16.5zm-14-934l768 1408q35 63-2 126-17 29-46.5 46t-63.5 17h-1536q-34 0-63.5-17t-46.5-46q-37-63-2-126l768-1408q17-31 47-49t65-18 65 18 47 49z'/%3E%3C/svg%3E") !important;
    background-color: rgba(239, 99, 96, 0.1);
    border-color: rgba(239, 99, 96, 0.1);

    &:focus {
      box-shadow: none;
      border-color: rgba(239, 99, 96, 0.1);
      border-bottom: 1px solid $danger !important;
    }
  }

  &::placeholder {
    color: #7a7a7a;
    font-style: italic;
  }

  &:disabled {
    background-color: $bg-secondary;
    border-bottom: 1px solid $text-muted !important;
    outline: none;
  }
}
// Dropdowns

.dropdown-menu {
  min-width: 120px;
  li:hover {
    background-color: $light;
    cursor: pointer;
  }
  z-index: 10000;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.08);
}
// Form elements

.form-check-label {
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 0.3px;
  font-style: italic;
}

.control-label {
  font-weight: normal;
}

.label-grams {
  font-weight: bold;
  font-size: 13px;
}

@include media-breakpoint-only(sm) {
  .control-label {
    padding-left: 0;
  }
}

@include media-breakpoint-only(xs) {
  .control-label {
    padding-left: 0;
    color: $body-color;
    padding-top: 10px;
  }
}

select.form-control {
  width: auto;
}

.form-control {
  border-radius: 0;

  &:focus {
    color: #495057;
    background-color: $bg-secondary;
    border-color: #a6deed;
  }
}

.form-control:focus, button:focus, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0 white;
}

.customradio {
  line-height: 1em;
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 0;
  cursor: pointer;
  font-size: 18px;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  &__text {
    font-size: $btn-font-size-lg;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: $white;
    border-radius: 50%;
    border: 1px solid $text-muted;

    &:after {
      top: 5px;
      left: 5px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: $primary;
      content: "";
      position: absolute;
      display: none;
    }
  }

  input:checked ~ .checkmark:after {
    display: block;
  }

  input:checked ~ .checkmark {
    background-color: $light;
    border: 1px solid $primary;
  }

  &:hover input ~ .checkmark {
    background-color: transparent;
  }
}

// The container
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

// Hide the browser's default checkbox
.container input {
  position: absolute;
  left: 0;
  top: -30px;
  // opacity: 0;
  // height: 0;
  // width: 0;
}

// Create a custom checkbox
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  border-radius: 2px;
  border: solid 1px #99999b;
  background-color: white;
}

.form-check-box {
  position: relative;
  display: block;
  padding-left: 35px;
  cursor: pointer;

  &:after, &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }
  &:before {
    border-radius: 2px;
    border: solid 1px #99999b;
    height: 24px;
    width: 24px;
  }
}

.form-check-box-input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;

  &:checked {
    + .form-check-box {
      &::before {
        border: solid 1px $primary;
        background: $light;
      }
      &:after {
        background: $light;
        left: 9px;
        top: 4px;
        width: 6px;
        height: 12px;
        border: solid 1px $primary;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(35deg);
        transform: rotate(35deg);
      }
    }
  }

}

// TABS
$tab-content-padding: 24px;
$tab-height: 80px;

@include media-breakpoint-only(xs) {
  .nav-tabs {
    padding-left: 10px !important;
    padding-top: 10px !important;
    .nav-link {
      width: 85px !important;
      padding-left: 10px !important;
    }
    .icon-check {
      padding-left: 7px !important;
      font-size: 10px !important;
    }
  }
}

.tab-content {
  padding-top: $tab-height + $tab-content-padding !important;
}

.nav-tabs {
  border-bottom: 1px solid $primary !important;
  padding-left: $tab-content-padding;
  padding-top: $tab-content-padding;
  position: fixed !important;
  width: 100%;
  background-color: $white !important;
  z-index: 999;

  .nav-link {
    line-height: 3.9em;
    border-radius: 0 !important;
    font-weight: bold;
    font-size: 16px;
    border: 0 !important;
    color: $dark;
    width: 120px;
    height: $tab-height;
    border-bottom: 4px solid $white;

    i {
      padding-top: 25px;
    }

    &.active {
      border-bottom: 3px solid $primary !important;
      background-color: $light !important;
      color: $dark !important;
    }

    &:hover {
      border: 0 !important;
      background-color: $light;
      color: $dark;
      border-bottom: 1px solid $primary !important;
    }

    &:focus {
      background-color: $info;
      border-bottom: 1px solid $primary !important;
    }
  }
}

//Dropdown
.dropdown.show {
  .btn-rounded-primary,
  .btn-rounded-primary__small {
    color: $white;
    background-color: $dark;
  }
}

.dropdown-menu.show {
  li {
    &:hover {
      cursor: pointer;
      background-color: $light;

      .customradio {
        .checkmark {
          border: 1px solid $secondary;
          background-color: $white;
        }
      }
    }
  }
}

.fonts-dark {
  color: $dark;
}

// Footer
$footer-height: 80px;

.footer-app {
  height: $footer-height;
}

.export-data-modal {
  .modal-dialog {
      max-width: 440px;
  }
}
// Inputs

input[type='text'],
[type='number'] {
  border-color: $bg-secondary !important;
  border-bottom: 1px solid $primary !important;
  color: $body-color;
  height: 44px !important;
  font-size: 15px;

  &.ng-pristine:focus {
    border: 1px solid $primary !important;
    outline: none;
  }

  &.is-invalid {
    border-bottom: 1px solid $danger !important;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg width='1792' height='1792' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath style='fill:red' d='M1024 1375v-190q0-14-9.5-23.5t-22.5-9.5h-192q-13 0-22.5 9.5t-9.5 23.5v190q0 14 9.5 23.5t22.5 9.5h192q13 0 22.5-9.5t9.5-23.5zm-2-374l18-459q0-12-10-19-13-11-24-11h-220q-11 0-24 11-10 7-10 21l17 457q0 10 10 16.5t24 6.5h185q14 0 23.5-6.5t10.5-16.5zm-14-934l768 1408q35 63-2 126-17 29-46.5 46t-63.5 17h-1536q-34 0-63.5-17t-46.5-46q-37-63-2-126l768-1408q17-31 47-49t65-18 65 18 47 49z'/%3E%3C/svg%3E") !important;
    background-color: rgba(239, 99, 96, 0.1);
    border-color: rgba(239, 99, 96, 0.1);

    &:focus {
      box-shadow: none;
      border-color: rgba(239, 99, 96, 0.1);
      border-bottom: 1px solid $danger !important;
    }
  }

  &::placeholder {
    color: #7a7a7a;
    font-style: italic;
  }

  &:disabled {
    background-color: $bg-secondary;
    border-bottom: 1px solid $text-muted !important;
    outline: none;
  }
}
